<h1 class="text-center">Agregar Nuevo Producto</h1>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <form id="add-product-form" action="/realtimeproducts" method="post">
        <div>
          <label>Título:</label>
          <input type="text" class="form-control my-2" name="title" required>
        </div>
        <div>
          <label>Descripción:</label>
          <input type="text" class="form-control my-2" name="description" required>
        </div>
        <div>
          <label>Precio:</label>
          <input type="number" class="form-control my-2" name="price" required>
        </div>
        <div>
          <label>Imágenes:</label>
          <input type="text" class="form-control my-2" name="thumbnail" required>
        </div>
        <div>
          <label>Código:</label>
          <input type="text" class="form-control my-2" name="code" required>
        </div>
        <div>
          <label>Stock:</label>
          <input type="number" class="form-control my-2" name="stock" required>
        </div>
        <div>
          <label>Categoría:</label>
          <input type="text" class="form-control my-2" name="category" required>
        </div>
        <div>
          <label>Estado:</label>
          <label>Verdadero:</label>
          <input type="radio" class="my-2" name="status" required>
          <label>Falso:</label>
          <input type="radio" class="my-2" name="status" required>
        </div>
        <div class="d-grid gap-2 text-center">
          <button type="submit" class="btn btn-secondary my-2">Agregar Producto</button>
        </div>
      </form>
    </div>
  </div>
</div>


<h1 class="text-center">Listado de Productos en Tiempo Real</h1>

<div class="container my-2 mx-4" id="productsFeed">
  <div class="row">
    {{#each products}}
    <div class="col-md-3 my-4">
      <div class="card alturaCaja img-product">
        <img src={{thumbnail}} class="card-img-top" alt={{title}} />
        <div class="card-body">
          <h6 class="card-text text-center">{{title}}</h6>
          <h3 class="text-center">$ {{price}}</h3>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>